{% extends 'base.html' %}
{% load static %}

{% block needsInputField %}
{% endblock needsInputField %}

{% block main %}

<img src="{% static '/codermatch/images/uncle_sam_lightOrange_bg.png' %}" alt="uncle-CoderMatching">
<h1>{{ object.adTitle }}</h1>
<p>
    <strong>Purpose: </strong>
    {% if object.adPurpose == 1 %}
        Present a project
    {% elif object.adPurpose == 2 %}
        Find a project
    {% else %} <!-- object.adPurpose == 3 -->
        Something else
    {% endif %}
</p>

<span><strong>Publication Date: </strong>{{ object.pubDate }}</span>

<p><strong>Description:</strong></p>
<p>{{ object.adDescription }}</p>

<p><strong>Contact Details:</strong></p>
<p>{{ object.creatorName }}</p>
<p>
    {% if object.showEmailPublic %}
    {{ object.creatorEmail }}
    {% else %}
    The creator of this classified ad doesn't want to show their email publically.<br>
    You may find the contact details in the description above.
    {% endif %}
</p>


{% endblock main %}
