<!-- Template inheritance based on
https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#extends
https://docs.djangoproject.com/en/4.0/ref/templates/language/#template-inheritance
https://docs.djangoproject.com/en/4.0/howto/overriding-templates/#how-to-override-templates

https://learndjango.com/tutorials/template-structure    -> either use the app or the project level approach (recommendation: project level)
( https://stackoverflow.com/questions/16899917/django-template-inheritance-how-many-levels-and-what-page-to-render/#answer-16900872 )

-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A simple HTML5 Template for new projects.">
        <meta name="author" content="SitePoint">
        <title>{% block title %}CoderMatching - Build a team for your coding projects, gather experience and to START developing real world applications{% endblock title %}</title>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'codermatch/style.css' %}">
    </head>
    <body>
        <header>
        {% block header %}
        <nav>
        </nav>
        <div>
            <a href="{% url 'codermatch:index' %}"><img src="{% static 'codermatch/images/Logo_CoderMatching.png' %}" alt="CoderMatching Logo" width="200"></a>
            <p>
                Find collaboration for coding projects<br>
                build teams with complementing skills<br>
                👩‍👩‍👧 👨‍👨‍👦‍👦
            </p>
            {% block needsInputField %}
            <!-- <p>
                [Here you'll see a "What do you need?" text input soon...]
            </p> -->
            <a class="find-collab-button" href="{% url 'codermatch:createAd' %}">find collaboration now</a>
            {% endblock needsInputField %}
        </div>
        {% endblock header %}
    </header>
    <main>
        {% block trustLogos %}
        <!-- <div>
            [Here you'll see a block with trust logos (including press and/or company logos) soon...]
        </div> -->
        {% endblock trustLogos %}
        {% block main %}
        {% endblock main %}
        </main>
        <footer>
        {% block footer %}
            <!-- actually you want to style the Twitter logo from footer of base template here - but seemingly it only works inline -->
            <a href="https://twitter.com/codermatching"><i class="lab la-twitter" style="font-size: 35px; color: #1DA1F2;"></i>@CoderMatching</a> |
            <a href="{% url 'codermatch:contribute' %}">contribute🤗</a>
        {% endblock footer %}
        </footer>
        {% block scripts %}
        <!-- <script src="js/script.js"></script> -->
        {% endblock scripts %}    
    </body>
</html>