{% extends 'base.html' %}
{% load static %}


{% block header %}
{% block needsInputField %}
{% endblock needsInputField %}
{{ block.super }}
<img src="{% static 'codermatch/images/uncle_sam_orange-at.png' %}" alt="uncle-CoderMatching" width="500">
{% endblock header %}

{% block main %}
<h1>How to use CoderMatching</h1>

<h2>For individuals</h2>
<strong>visionaries, enthusiasts, hobbyists🤗...</strong>
<ul>
    <li>...searching for people who want to collaborate on their great project🚀</li>
    <li>...searching for a real world project to refine their skills👌</li>
    <li>...maybe interested in open source and/or business🚀</li>
</ul>
<p>
    Please let me know if you have feedback or ideas for features etc.🙏<br>
    👉You are <em><u>always</u></em> especially welcome to <em><a href="{% url 'codermatch:createAd' %}">post classified
            ads</a> on CoderMatching <u>for free</u></em>!🤗
</p>

<h3>Contribute</h3>
<p>
    If you want to collaborate on the creation of CoderMatching, please...<br>
    ...hit me up on <a href="https://twitter.com/codermatching"><i class="lab la-twitter"
            style="font-size: 24px; color: #1DA1F2;"></i>@CoderMatching</a><br>
    ...or find another way via <a href="https://github.com/Sammeeey"><i class="lab la-github"
            style="font-size: 24px; color: black;"></i>https://github.com/Sammeeey</a>
</p>
<p>
    You are absolutely welcome to <a href="https://github.com/Sammeeey/codermatching">contribute to CoderMatching on GitHub<i class="lab la-github" style="font-size: 24px; color: #000;"></i></a><br>
</p>
<p>
    This is what you can do to contribute:
    <ul>
        <li>create new issues</li>
        <li>suggest new features</li>
        <li>comment on issues</li>
    </ul>
</p>

<h2>For Companies</h2>
<strong>including paid mentors and freelancer</strong>
<p>
    You are very welcome to <a href="https://twitter.com/codermatching">publish classified ads</a> on CoderMatching.<br>
    Please contact me on <a href="https://twitter.com/codermatching"><i class="lab la-twitter"
            style="font-size: 24px; color: #1DA1F2;"></i>@CoderMatching</a> or send an email beforehand.<br>
    That way we can discuss what you actually need and I can make your classified ad stand out.👍<br>
    This procedure applies for all those who are aiming to either make direct financial profit from CoderMatching
    (mentoring, freelancing, etc.) or who use it to hire people for paid jobs.
</p>
{% endblock main %}
