{% extends 'base.html' %}
{% load static %}

{% block main %}
{% block findCollab %}

<section class="benefits">
    <p>Find Collaboration for coding Projects</p>
    <p>⬇</p>
    <p>Build Teams with complementing Skills</p>
    <p>👨‍👩‍👧‍👦</p>
</section>

<section class="benefits">
    <p>Post a Classifieds Ad</p>
    <p>⬇</p>
    <p>Build Real World Projects together</p>
    <p>👫</p>
</section>

<a id="find-collab-button" class="find-collab-button" href="{% url 'codermatch:createAd' %}">find collaboration</a>

{% endblock findCollab %}
{% if latestAdList %}
<h2>Most recent Classifieds</h2>
    <ul>
        {% for ad in latestAdList %}
        <li>
            {% comment %}
            <!-- <a href="/codermatch/ad-detail/{{ ad.id }}">{{ ad.projectTitle }}</a> -->
            <!-- <a href="{% url 'adDetail' adId=ad.id %}">{{ ad.projectTitle }}</a> --> <!--This is the first approach from the django docs tutorial https://docs.djangoproject.com/en/4.0/intro/tutorial03/#removing-hardcoded-urls-in-templates -->
            {% endcomment %}
            <a href="{% url 'codermatch:adDetail' ad.pk %}">{{ ad.adTitle }}</a> <!-- This is the recommended approach from the django docs tut https://docs.djangoproject.com/en/4.0/intro/tutorial03/#namespacing-url-names -->
        </li>
{% endfor %}
    </ul>
{% else %}
    <p>No classifieds are available...</p>
{% endif %}
{% block testimonials %}
<!-- <div>[Here you'll see several testimonials soon...]</div> -->
{% endblock testimonials %}
{% endblock main %}
