{% extends 'base.html' %}
{% load static %}

{% block main %}
{% block howTo %}
<h2>How to find contribution on CoderMatching?</h2>
<img src="{% static '/codermatch/images/22-02-08_How_to_CoderMatching.png' %}" alt="How to CoderMatching">
{% endblock howTo %}
{% if latestAdList %}
<h2>Most recent classifieds</h2>
    <ul>
        {% for ad in latestAdList %}
        <li>
            {% comment %}
            <!-- <a href="/codermatch/ad-detail/{{ ad.id }}">{{ ad.projectTitle }}</a> -->
            <!-- <a href="{% url 'adDetail' adId=ad.id %}">{{ ad.projectTitle }}</a> --> <!--This is the first approach from the django docs tutorial https://docs.djangoproject.com/en/4.0/intro/tutorial03/#removing-hardcoded-urls-in-templates -->
            {% endcomment %}
            <a href="{% url 'codermatch:adDetail' ad.pk %}">{{ ad.adTitle }}</a> <!-- This is the recommended approach from the django docs tut https://docs.djangoproject.com/en/4.0/intro/tutorial03/#namespacing-url-names -->
        </li>
{% endfor %}
    </ul>
{% else %}
    <p>No classifieds are available...</p>
{% endif %}
{% block testimonials %}
<!-- <div>[Here you'll see several testimonials soon...]</div> -->
{% endblock testimonials %}
{% endblock main %}
